<header class="site-header">

  <div class="w3-main" style="margin-left:0px">

    <a class="site-title" style="margin-left:140px" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>

    <nav class="w3-sidenav w3-collapse w3-white" style="width:120px">
      <br>
      <br>
      <br>
         <a class="w3-hover-blue" href="{{ '/' |
          prepend: site.baseurl }}">Home</a>
        {% for page in site.pages %}
          {% if page.title %}<a class="w3-hover-blue" href="{{ page.url |
          prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
    </nav>

  </div>

</header>
